@model List<TasteFoodIt.Entities.About>
@{
    ViewBag.Title = "AboutList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Hakkımda Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Hakkımda</li>
            <li class="breadcrumb-item active" aria-current="page">Hakkımda İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Başlık</th>
                                <th>Açıklama</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.AboutId</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td><a href="/About/DeleteAbout/@item.AboutId" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.num1 < 1)
    {
        <a href="/About/CreateAbout" class="btn btn-primary">Yeni Hakkımda Girişi</a>
    }

</div>

