
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}

<div style="margin-top:20px;margin-bottom:20px" class="container">
    @Html.Action("PartialSecret", "Default")
</div>

@Html.Action("PartialStatistic","Default")

@Html.Action("PartialBookNow", "Default")

