<div id="wrapper">
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Dashboard/Index">
            <div class="sidebar-brand-icon">
                <img src="~/Templates/ruang-admin/img/logo/logo2.png">
            </div>
            <div class="sidebar-brand-text mx-3">Taste Food It</div>
        </a>
        <li class="nav-item active">
            <a class="nav-link" href="/Default/Index" target="_blank">
                <span>Siteye Git</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" href="/Dashboard/Index">
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Address/AddressList">
                <span>Adres İşlemleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/About/AboutList">
                <span>Hakkımızda İşlemleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Chef/ChefList">
                <span>Şef İşlemleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Category/CategoryList">
                <span>Kategori İşlemleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Product/ProductList">
                <span>Ürün İşlemleri</span>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/OpenDayHours/OpenDayHourList">
                <span>Çalışma Saatleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Reservation/ReservationList">
                <span>Rezervasyon İşlemleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Notification/NotificationList">
                <span>Bildirim İşlemleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Testimonial/TestimonialList">
                <span>Referans İşlemleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Contact/MessageList">
                <span>İletişim İşlemleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/AdminList">
                <span>Admin İşlemleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Slider/SliderList">
                <span>Slider İşlemleri</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/SocialMedia/SocialMediaList">
                <span>Sosyal Medya İşlemleri</span>
            </a>
        </li>

    </ul>
</div>
