@model Dictionary<int, List<TasteFoodIt.Entities.Product>>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Eşsiz Lezzetlerimiz</span>
                <h2 class="mb-4">Menümüz</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var productsByCategory in Model)
            {
                Html.RenderPartial("PartialMenuByCategory", productsByCategory.Value);
            }
        </div>
    </div>
</section>
