@model List<TasteFoodIt.Entities.OpenDayHour>
@{
    ViewBag.Title = "OpenDayHourList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Çalışma Saatleri Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Çalışma Saatleri</li>
            <li class="breadcrumb-item active" aria-current="page">Çalışma Saatleri İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Çalışma Günü</th>
                                <th>Çalışma Saati Aralığı</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.OpenDayHourId</td>
                                    <td>@item.DayName</td>
                                    <td>@item.OpenHourRange</td>
                                    <td>@Html.ActionLink("Sil", "DeleteOpenDayHour", new { id = item.OpenDayHourId }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstediğinizden Emin Misiniz?')" })</td>
                                    <td><a href="/OpenDayHours/UpdateOpenDayHour/@item.OpenDayHourId" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.num1 < 7)
    {
        <a href="/OpenDayHours/CreateOpenDayHour" class="btn btn-primary">Yeni Çalışma Saati Girişi</a>
    }


</div>

