@model TasteFoodIt.Entities.Admin
@{
    ViewBag.Title = "CreateAdmin";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Admin Ekleme Sayfası</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item active" aria-current="page">Admin İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-body">
                    @using (Html.BeginForm("CreateAdmin", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <form>
                            <div class="form-group">
                                <label>Kullanıcı Adı</label>
                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Şifre</label>
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-primary">Admin Ekle</button>
                        </form>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

